@inherits LayoutComponentBase
@inject IConfiguration Configuration
<PageTitle>📃 @Configuration["app:name"]</PageTitle>

<main>
    @Body
</main>
<footer>
  ©️ 2023 Mister Magoo - All Rights Reserved. @RuntimeInformation.OSDescription @RuntimeInformation.OSArchitecture @RuntimeInformation.FrameworkDescription
</footer>